menu {
  @mixin menu-style($color, $fill-color, $toggle-color, $toggle-fill, $menu-fill, $menu-text-color) {
    ul.navbar-right {
      li {
        a, a:focus {
          border-radius: 3px;
          cursor: pointer;
          background-color: $fill-color;
          color: $color;
          text-transform: uppercase;
          padding: 5px 10px;
          margin: 10px;
          border: 1px solid rgba(0, 0, 0, 0);
        }
        a:hover, a.active {
          text-decoration: none;
          background-color: $fill-color;
          color: $color;
          border-color: $color;
        }
      }
    }
    .navbar-toggle {
      background-color: #FFF;
      border-color: $toggle-color;

      span.icon-bar {
        background-color: $toggle-color;
      }
    }
    .navbar-toggle:focus {
      background-color: #FFF;
    }
    @media(max-width: $screen-lg) {
      .navbar-collapse {
        transition: background-color .4s linear;
        background-color: $menu-fill;
        border-bottom: 1px solid #FFF;
        top: -52px;
        position: relative;
      }
      ul.navbar-right {
        margin-top: 3px;
        margin-bottom:3px;
        li {
          a, a:focus {
            max-width: 70%;
            border-width: 0;
            background-color: transparent;
            color: $menu-text-color;
          }
          a:hover, a.active {
            border-width: 0;
            color: $toggle-color;
            background-color: #FFF;
          }
        }
      }
    }
  }

  @mixin menu-border($color) {
    @include menu-style($color, #FFF, $color, #FFF, $color, #FFF);
  }

  .navbar-toggle {
    z-index: 999;
  }

  nav.navbar.navbar-default {
    margin-bottom: 0;
    border: none;
    background-color: transparent;
  }

  .menu-portfolio {
    @include menu-border($portfolio-color);
  }
  .menu-cv {
    @include menu-border($cv-color);
  }
  .menu-contact {
    @include menu-border($contact-color);
  }
  .menu-info {
    @include menu-style(#FFF, $info-color, $info-color, #FFF, $info-color, #FFF);
  }
  .menu-header {
    @include menu-style(#333, rgba(0, 0, 0, 0), #777, rgba(0, 0, 0, 0), #FFF, #333);
    .navbar-toggle.collapsed {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
